*_m.h
*_m.cc
*.pdb
*.idb
*.ilk
*.exe
*.lib
*.dll
.pydevproject
.settings
.tstamp
.tkenvrc
.tmp*
env.sh
**/Makefile
Makefile.vc
**/Makefile.vc
out
mixim-veins/doc/doxy
mixim-veins/doc/neddoc
mixim-veins/doc/index.html
mixim-veins/src/base/*.so
mixim-veins/src/modules/*.so
mixim-veins/src/*.so
mixim-veins/Makefile
mixim-veins/results
mixim-veins/examples/**/figures
mixim-veins/examples/ieee802154a/ieee802154a
mixim-veins/examples/miximexamples
mixim-veins/tests/miximtests
mixim-veins/tests/**/out.tmp
mixim-veins/tests/**/err.tmp
mixim-veins/tests/**/diff.log
mixim-veins/tests/baseMobility/baseMobility
mixim-veins/tests/basePhyLayer/basePhyLayer
mixim-veins/tests/blackboard/blackboard
mixim-veins/tests/channelInfo/channelInfo
mixim-veins/tests/connectionManager/connectionManager
mixim-veins/tests/coord/coord
mixim-veins/tests/mapping/mapping
mixim-veins/tests/radioState/radioState
mixim-veins/tests/testUtils/libmiximtestUtils.so
mixim-veins/tests/nicTest/nicTest
mixim-veins/tests/decider/decider
mixim-veins/inet/tests/mixnetBridge/testCase
mixim-veins/inet/tests/mixnetWorldUtility/testCase
mixim-veins/examples/CSMAMac/CSMAMac
mixim-veins/examples/Mac80211/Mac80211
mixim-veins/examples/analogueModels/analogueModels
mixim-veins/examples/baseNetwork/baseNetwork
mixim-veins/examples/ieee802154Narrow/ieee802154Narrow
mixim-veins/examples/ieee802154a/ieee802154a
mixim-veins/examples/multiConnectionManager/multiConnectionManager
mixim-veins/examples/BaseMoBANNetwork/BaseMoBANNetwork
mixim-veins/examples/WSNRouting/WSNRouting
mixim-veins/examples/bmac/bmac
mixim-veins/examples/lmac/lmac
**.vci
.DS_Store
